.navbar {
    background: linear-gradient(to right, #3a5f99, #0074D9);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 2px solid black;
  }

  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-image: url("assets/polygon.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: -1;
  }

  .navbar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-image: url("assets/polygon.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: -1;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .navbar a {
    transition: color 0.5s ease;
  }

  .navbar a:hover {
    color: #2c3e50;
  }
  
  .logo-and-buttons {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-buttons a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .logo-right {
    display: flex;
    align-items: center;
  }
  
  .logo-right .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  
  section {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Offset for href because of navbar */
  #home::before {
    content: '';
    display: block;
    height:      200px;
    margin-top: -200px;
    visibility: hidden;
  }

  #aboutus::before {
    content: '';
    display: block;
    height:      150px;
    margin-top: -150px;
    visibility: hidden;
  }

  #abstract::before {
    content: '';
    display: block;
    height:      150px;
    margin-top: -150px;
    visibility: hidden;
  }
  
  #development::before {
    content: '';
    display: block;
    height:      150px;
    margin-top: -150px;
    visibility: hidden;
  }

  #evidencebook::before {
    content: '';
    display: block;
    height:      150px;
    margin-top: -80px;
    visibility: hidden;
  }

  #technology::before {
    content: '';
    display: block;
    height:      150px;
    margin-top: -80px;
    visibility: hidden;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }

  html,body {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
  }

  .section {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 5px solid black;
    transition: transform 1s ease;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/basketballbackground.jpg");
    background-size: cover;
    transition: transform 1s ease;
  }
  
  .background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .background-image:hover{
    transform: scale(1.1);
  }

  .foreground-image {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 1;
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    transition: transform 1s ease;
  }
  
  .foreground-image:hover{
    transform: scale(1.1);
  }

  .content {
    text-align: center;
    z-index: 1;
  }
  
  .title {
    color: white;
    font-size: 100px;
    font-weight: bold;
    color: linear;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  
  .description {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .hundred{
    height: 100px
  }
  
  .title-bio h1{
    color: white;
    font-weight:500;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
  }

  .title-bio h2{
    font-weight:500;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    margin: 0px;
    padding: 0;
    color: rgb(209, 223, 159);
  }

  .title-bio {
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;    
    }

  .group-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  .group-photo img{
    width: 1500px;
    border-radius: 1%;
    border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  }

  .group-photo p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 24px;
  }

  .bios{
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }

  .bios::before{
    opacity: 5%;
  }

  /* Apply margin to child elements (each 4 bios) */
  .bios > * {
    margin: 30px 0;
}

.bio-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  width: 60%;
  box-sizing: border-box;
  position: relative;
}

.bio-container:nth-child(odd) {
  margin-right: auto;
}

.bio-container:nth-child(even) {
  margin-left: auto;
}

.bio-image {
  margin-right: 20px;
  text-align: center;
  transition: transform 1s ease;
  margin-left: 30px;
  padding: 0;
  position: relative;
  flex: 0 0 auto;
  max-height: 100%;
  overflow: hidden;
}

.bio-text:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px; /* Position line to the left of the .bio-text element */
  width: 1px;
  background-color: #ccc;
  margin: -10px;
}

.bio-container:nth-child(2n) .bio-text::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px; /* Position line to the left of the .bio-text element */
  width: 1px;
  background-color: #ccc;
  margin: -20px;
}

.bio-image:hover{
  transform: scale(1.1);
}

.bio-image:nth-child(even) {
  margin-right: 0;
  margin-left: 20px;

}

.bio-image img {
  display: inline-block;
  max-height: 400px;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  margin: 15px;
}

.bio-text {
  flex: 2;
  text-align: justify;
  padding: 20px;
  max-width: 75%;
  margin-left: 20px; /* Adjust margin to match */
  position: relative;
  color: white;
  letter-spacing: 1px;
}

.bio-text:nth-child(even) {
  order: 1;
}

.bio-text h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight:normal;
}

.bio-text h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: normal;
  font-style: italic;
}

.bio-text p {
  font-size: 18px;
  line-height: 1.4em;
  margin-top: 20px;
  margin-bottom: 0;
}

.bio-links i{
  transition: transform 1s ease;
  font-size: 30px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(209, 223, 159);
}
.bio-links i:hover {
  transform: scale(1.1);
}

body{
	margin:0;
	padding:0;
    background: #363b88 url('assets/background.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.and{
  font-weight:500;
  color: white;
  font-size: 32px;
  letter-spacing: 1.5px;
}

.emphasis-advisor-and-instructors{
  font-weight:500;
  color: white;
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 50px;
  padding: 0;
  color: rgb(209, 223, 159);
}
.advisor-and-instructors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile img {
  width: 250px;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  transition: transform 1s ease;
  border: 2px solid black;
  margin: 10px;
}

.profile p a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  color: rgb(209, 223, 159);
  text-decoration: none;
}

.profile i{
  transition: transform 1s ease;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(209, 223, 159);
}
.profile i:hover {
  transform: scale(1.1);
}

.profile img:hover{
  transform: scale(1.1);
}
.profile h2 {
  color: white;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:normal;
}
.profile p {
  color: white;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: normal;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile a{
  margin-top: -5px;
}

.profile hr {
  border-top: 1px solid #ccc;
  width: 200px;
}

.abstract{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #363b88 url('assets/background2.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate2;
	-moz-animation: 10s linear 0s normal none infinite animate2;
	-ms-animation: 10s linear 0s normal none infinite animate2;
	-o-animation: 10s linear 0s normal none infinite animate2;
	animation: 10s linear 0s normal none infinite animate2;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.abstract img{
  transition: transform 1s ease;
  border: 1px solid white;
  margin-top: 10px;
}

.abstract img:hover{
  transform: scale(1.1)
}

.abstract-text{
  margin: 50px;
  margin-top: 20px;
  width: 50%;
  color: white;
  letter-spacing: 2px;
  padding-left: 20px;
}

.abstract-text h1{
  letter-spacing: 1.5px;
  font-weight: 500;
  color:rgb(209, 223, 159);
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 10px;
}

.abstract-text p{
  font-size: 20px;
  text-indent: 50px;
  padding-right: 100px;
}

@-webkit-keyframes animate2 {
	from {background-position:0 0;}
	to {background-position: -500px 0;}
}
 
@-moz-keyframes animate2 {
	from {background-position:0 0;}
	to {background-position: -500px 0;}
}
 
@-ms-keyframes animate2 {
	from {background-position:0 0;}
	to {background-position: -500px 0;}
}
 
@-o-keyframes animate2 {
	from {background-position:0 0;}
	to {background-position: -500px 0;}
}
 
@keyframes animate2 {
	from {background-position:0 0;}
	to {background-position: -500px 0;}
}

.development{
  padding: 0px; 
  color: white;
  margin: 0 100px 100px 100px;
}
.development h2{
  font-weight:500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  margin-bottom: 100px;
  padding: 0;
  color: rgb(209, 223, 159);
}

.development > * {
  margin-bottom: 100px;
}

.evidencebook{
  padding: 0px;
  color: white;
}
.evidencebook h2{
  font-weight:500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  margin: 0px;
  padding: 0;
  color: rgb(209, 223, 159);
}

.evidencebook h3{
  font-weight:500;
  font-size: 40px;
  letter-spacing: 1.5px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.evidencebook h4{
  font-weight:500;
  font-size: 32px;
  letter-spacing: 1.5px;
  padding-left: 120px;
  color:rgb(209, 223, 159)
}

.evidencebook{
	margin:0;
  padding-top: 20px;
  padding-bottom: 100px;
  background: #363b88 url('assets/background2.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate2;
	-moz-animation: 10s linear 0s normal none infinite animate2;
	-ms-animation: 10s linear 0s normal none infinite animate2;
	-o-animation: 10s linear 0s normal none infinite animate2;
	animation: 10s linear 0s normal none infinite animate2;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.evidencebook button {
  text-align:left;
  padding-left:20px ;
  position: relative;
  height: 60px;
  width: calc(25% - 10px);
  background: linear-gradient(to right, #3a5f99, #0074D9);
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  transition: transform 5s ease;
  overflow: hidden;
  z-index: 1;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
  align-content: center;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: space-evenly
}

.evidencebook button:hover{
  color: lightgray;
  border: 2px solid white;
  transform: scale(1.1);
  cursor: pointer;
}

.evidencebook i {
  color:rgb(209, 223, 159);
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.evidencebook button .separator {
  position: absolute;
  top: 0;
  right: 70px;
  height: 100%;
  width: 5px;
  background-color: rgb(209, 223, 159);
  transform: skewX(-30deg); /* to create the slanted line */
  z-index: -2;
}

.evidencebook button p{
  position: absolute;
  top: 0;
  left: 0px;
}

.evidencebook button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  height: 100%;
  width: 90px;
  background-color: rgb(39, 35, 75); /* new background color */
  transform: skewX(-30deg);
  z-index: -1;
}

.technology{
  padding: 0px;
  color: white;
  letter-spacing: 1.5px;
}

.technology h3 a {
  color: rgb(209, 223, 159);
  text-decoration: none;
}

.technology i{
  transition: transform 1s ease;
  font-size: 40px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(209, 223, 159);
}

.technology i:hover {
  transform: scale(1.1);
}

.technology h2{
  font-weight:500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  margin: 0px;
  padding: 0;
  color: rgb(209, 223, 159);
}

.technology h3{
  font-weight:500;
  font-size: 60px;
  margin: 0;
}

.technology h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 20px;
  font-weight: normal;
  font-style: italic;
}

.xcode-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 50px 20px;
}

.xcode-container .left-side{
  width: 50%;
  margin-top: 50px;
}

.xcode-container .left-side img{
  width: 1050px;
}

.xcode-container .right-side{
  margin-left: 100px;
}

.xcode-container .right-side img{
  width: 200px;
  position: absolute;
  top: 100px;
  right: 100px;
}

.xcode-container .right-side p{
  width: 60%;
  margin-top: 20px;
}

.firebase-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 50px 100px 0px 100px;
}

.firebase-container .left-side{
  width: 40%;
  margin-left: 250px;
}

.firebase-container .right-side{
  width: 45%;
}

.firebase-container .left-side p{
  width: 90%;
  margin-top: 20px;
}

.firebase-container .left-side img{
  width: 200px;
  position: absolute;
  top: 100px;
  left: 00px;
}

.right-side .firebase{
  width: 100%;
  margin-top: 20px;
  border: 2px solid white
}


.left-side .firebase{
  width: 50%;
  margin-top: 20px;
}

.google-maps-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0px 100px 50px 100px;
}

.google-maps-container .left-side{
  width: 50%;
}

.google-maps-container .left-side img{
  margin-top: 0px;
  width: 750px;
  border: 2px solid white
}

.google-maps-container .right-side{
  margin-left: 75px;
  margin-top: 0px;
}

.google-maps-container .right-side img{
  width: 200px;
  position: absolute;
  top: 100px;
  right: 100px;
}

.google-maps-container .right-side p{
  width: 60%;
  margin-top: 20px;
}

.figma-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0px 100px 50px 100px;
}

.figma-container .left-side img{
  width: 200px;
  position: absolute;
  top: 100px;
  left: 0px;
}

.figmadesign{
  width: 850px;
}

.figma-container .left-side{
  width: 35%;
  margin-left: 150px;
}

.figma-container .right-side{
  width: 45%;
  margin-left: 50px;
}

.figma-container .right-side img{
  border: 2px solid white
}

.time{
  height: 450px;
}

.mp{
  margin-right: 50px;
  float: right;
  height: 600px;
}

.figma{
  width: 800px;
}
.column{
  padding: 0;
  margin: 0;
}
.pushright{
  padding: 0;
  text-align: right;
}

.erdiagram{
  margin-right: 50px;
  float: right;
  height: 800px;
}

.development img{
  border: 2px solid white;
}
.column p{
  width: 80%;
  margin: 0;
  letter-spacing: 1.5px;
  background-color: rgb(21, 45, 82);
  padding: 20px;
}

/* CSS for row layout */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for column layout */
.column {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.development h4{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 42px;
}